/* Styles for Project 5 */

body {
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: .5px;
    line-height: 1.5;
    padding: 10%;
    background-color: black
}

h1 {    
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    color: red;
    background-color: black;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: yellow;
    background-color: black
}

p {
    background-color: black;
    line-height: 3;
    color: white;
}

img {
    max-width: 100%;
}

ul {
    margin-bottom: 2rem;
}